<!-- @format -->

<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>管理者頁面</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="../../static/tailwind.config.js"></script>
        <script>
            function timestamp_to_date(timestamp) {
                // 创建一个新的Date对象，将时间戳作为参数传递
                var date = new Date(timestamp);

                // 使用Date对象的方法获取年、月、日等信息
                var year = date.getFullYear();
                var month = date.getMonth() + 1; // 月份是从0开始的，所以要加1
                var day = date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();

                // 返回一个包含日期和时间信息的字符串
                var formattedDate =
                    year +
                    "-" +
                    month +
                    "-" +
                    day +
                    " " +
                    hours +
                    ":" +
                    minutes +
                    ":" +
                    seconds;

                return formattedDate;
            }
        </script>
    </head>

    <body class="bg-white dark:bg-gray-800">
        <div class="max-w-[1020px] px-5 py-3 m-auto">
            <div class="text-3xl font-bold mb-5 text-black dark:text-white">
                # 管理頁面
            </div>
            <div class="relative overflow-x-auto">
                <table
                    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-t-lg overflow-hidden"
                >
                    <thead
                        class="text-xs uppercase bg-gray-300 rounded-t-lg dark:bg-gray-700"
                    >
                        <tr class="whitespace-nowrap">
                            <th scope="col" class="px-6 py-3">報名時間</th>
                            <th scope="col" class="px-6 py-3">姓名</th>
                            <th scope="col" class="px-6 py-3">學校</th>
                            <th scope="col" class="px-6 py-3">電話號碼</th>
                            <th scope="col" class="px-6 py-3">email</th>
                            <th scope="col" class="px-6 py-3 text-center">
                                繳費狀態
                            </th>
                            <th scope="col" class="px-6 py-3 text-center">
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr
                            class="border-b dark:bg-gray-800 dark:border-gray-700 whitespace-nowrap"
                        >
                            <td class="px-6 py-4 text-gray-900 dark:text-white">
                                {{ d[20] }}
                            </td>
                            <td
                                class="px-6 py-4 font-bold text-gray-900 dark:text-white"
                            >
                                {{ d[1] }}
                            </td>
                            <td class="px-6 py-4 text-gray-900 dark:text-white">
                                {{ d[3] }}
                            </td>
                            <td class="px-6 py-4 text-gray-900 dark:text-white">
                                {{ d[7] }}
                            </td>
                            <td class="px-6 py-4 text-gray-900 dark:text-white">
                                {{ d[2] }}
                            </td>
                            <td class="px-6 py-4">
                                {% if d[25] %}
                                <div
                                    class="bg-green-500/50 text-center font-bold text-gray-900 dark:text-white"
                                >
                                    已繳費
                                </div>
                                {% else %} {% if d[21] %}
                                <div
                                    class="bg-orange-500/75 text-center font-bold text-gray-900 dark:text-white"
                                >
                                    待審查
                                </div>
                                {% else %}
                                <div
                                    class="bg-red-500/50 text-center font-bold text-gray-900 dark:text-white whitespace-nowrap"
                                >
                                    尚未繳費
                                </div>
                                {% endif %} {% endif %}
                            </td>
                            <td class="px-6 py-4 flex gap-px">
                                {% if d[21] %}
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded-full text-xs"
                                    onclick="payCheck('{{d[0]}}')"
                                >
                                    繳費
                                </button>
                                {% else %}
                                <button
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded-full text-xs"
                                    onclick="payCheck('{{d[0]}}')"
                                    disabled
                                >
                                    繳費
                                </button>
                                {% endif %}
                                <button
                                    class="switch bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded-full text-xs"
                                    onclick="panelCheck('{{d[0]}}')"
                                >
                                    查詢
                                </button>
                                <button
                                    id="sendEmail-{{d[0]}}"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded-full text-xs"
                                    onclick="sendEmail('{{d[0]}}')"
                                >
                                    繳費成功 Email
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div
                id="modal"
                class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full bg-black/50"
            >
                <div class="relative p-4 w-full max-w-2xl max-h-full m-auto">
                    <!-- Modal content -->
                    <div
                        class="relative bg-white rounded-lg shadow dark:bg-gray-700"
                    >
                        <!-- Modal header -->
                        <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
                        >
                            <h3
                                class="text-xl font-semibold text-gray-900 dark:text-white"
                            >
                                學員資料
                                <span
                                    id="studentID"
                                    class="text-xs text-gray-500"
                                ></span>
                            </h3>
                            <button
                                type="button"
                                class="switch text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="default-modal"
                            >
                                <svg
                                    class="w-3 h-3"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 14 14"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                                    />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body p-4 md:p-5 space-y-4"></div>
                        <!-- Modal footer -->
                        <div
                            class="flex justify-end items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
                        >
                            <button
                                type="button"
                                class="paycheck-btn switch text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >
                                繳費
                            </button>
                            <button
                                type="button"
                                class="switch ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"
                            >
                                關閉
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const Modal = $("#modal");

            $(".switch").click(e => {
                e.preventDefault();
                Modal.toggle();
            });

            const payCheck = userID => {
                fetch("/admin/setPay", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/plain",
                    },
                    body: userID,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.text();
                    })
                    .then(responseText => {
                        console.log(responseText);
                        window.location.reload();
                    });
            };
            const panelCheck = userID => {
                fetch("/admin/getStudentData", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/plain",
                    },
                    body: userID,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.text();
                    })
                    .then(responseText => {
                        data = JSON.parse(responseText);
                        console.log("Response text:", JSON.parse(responseText));
                        Modal.find("#studentID").html(data[0]);
                        Modal.find(".paycheck-btn")
                            .removeAttr("onclick")
                            .attr("onclick", `payCheck(\"${data[0]}\")`);
                        Modal.find(".modal-body").html(`
                            <div class="modal-grid grid grid-cols-2 gap-4 text-black dark:text-white">
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">報名時間:</span> <span class="font-bold">${
                                    data[20]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">姓名:</span> <span class="font-bold">${
                                    data[1]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">Email:</span> <span class="font-bold">${
                                    data[2]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">學校:</span> <span class="font-bold">${
                                    data[3]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">住家地址:</span> <span class="font-bold">${
                                    data[4]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">社團:</span> <span class="font-bold">${
                                    data[5]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">密碼:</span> <span class="font-bold">${
                                    data[6]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">電話:</span> <span class="font-bold">${
                                    data[7]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">性別:</span> <span class="font-bold">${
                                    data[8]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">身分證字號:</span> <span class="font-bold">${
                                    data[9]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">生日:</span> <span class="font-bold">${
                                    data[10]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">聯絡人姓名:</span> <span class="font-bold">${
                                    data[11]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">聯絡人關係:</span> <span class="font-bold">${
                                    data[12]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">聯絡人電話:</span> <span class="font-bold">${
                                    data[13]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">衣服尺寸:</span> <span class="font-bold">${
                                    data[14]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">飲食:</span> <span class="font-bold">${
                                    data[15]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">特殊飲食習慣:</span> <span class="font-bold">${
                                    data[16]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">特殊疾病:</span> <span class="font-bold">${
                                    data[17]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">團報優惠碼:</span> <span class="font-bold">${
                                    data[19]
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">繳費狀態:</span> <span class="font-bold">${
                                    data[21] == "1" ? "已繳費" : "尚未繳費"
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">繳費時間:</span> <span class="font-bold">${
                                    data[21] == "1" ? data[24] : "尚未繳費"
                                }</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400"></span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">家長同意書:</span></div>
                                <div class="flex sm:items-center flex-col sm:flex-row"><span class="w-full sm:w-1/3  text-sm text-gray-400">場地切結書:</span></div>
                        `);
                        if (data[21]) {
                            Modal.find(".paycheck-btn").prop("disabled", false);
                        } else {
                            Modal.find(".paycheck-btn").prop("disabled", true);
                        }

                        if (data[22]) {
                            const imageElement = document.createElement("img");
                            imageElement.src = data[22];
                            Modal.find(".modal-grid").append(
                                `<div class="flex sm:items-center flex-col sm:flex-row">${imageElement.outerHTML}</div>`
                            );
                        } else {
                            Modal.find(".modal-grid").append(
                                `<div class="flex sm:items-center flex-col sm:flex-row">尚未簽署家長同意書</div>`
                            );
                        }
                        if (data[23]) {
                            const imageElement = document.createElement("img");
                            imageElement.src = data[23];
                            Modal.find(".modal-grid").append(
                                `<div class="flex sm:items-center flex-col sm:flex-row">${imageElement.outerHTML}</div>`
                            );
                        } else {
                            Modal.find(".modal-grid").append(
                                `<div class="flex sm:items-center flex-col sm:flex-row">尚未簽署場地切結書</div>`
                            );
                        }
                    })
                    .catch(error => {
                        alert("Error:", error);
                    });
            };

            const sendEmail = userID => {
                var sendEmailElement = document.getElementById(
                    "sendEmail-" + userID
                );
                sendEmailElement.disabled = true;
                sendEmailElement.innerText = "資料獲取中...";
                fetch("/admin/getStudentData", {
                    method: "POST",
                    headers: {
                        "Content-Type": "text/plain",
                    },
                    body: userID,
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Network response was not ok");
                        }
                        return response.text();
                    })
                    .then(responseText => {
                        data = JSON.parse(responseText);
                        dataHTML = `<table>
              <tbody>
               <tr>
                  <td>
            報名時間:</td><td>
            ${data[20]}</td></tr><tr><td>
            姓名:</td><td>
            ${data[1]}</td></tr><tr><td>
            Email:</td><td>
            ${data[2]}</td></tr><tr><td>
            學校:</td><td>
            ${data[3]}</td></tr><tr><td>
            住家地址:</td><td>
            ${data[4]}</td></tr><tr><td>
            社團:</td><td>
            ${data[5]}</td></tr><tr><td>
            密碼:</td><td>
            ${data[6]}</td></tr><tr><td>
            電話:</td><td>
            ${data[7]}</td></tr><tr><td>
            性別:</td><td>
            ${data[8]}</td></tr><tr><td>
            身分證字號:</td><td>
            ${data[9]}</td></tr><tr><td>
            生日:</td><td>
            ${data[10]}</td></tr><tr><td>
            聯絡人姓名:</td><td>
            ${data[11]}</td></tr><tr><td>
            聯絡人關係:</td><td>
            ${data[12]}</td></tr><tr><td>
            聯絡人電話:</td><td>
            ${data[13]}</td></tr><tr><td>
            衣服尺寸:</td><td>
            ${data[14]}</td></tr><tr><td>
            飲食:</td><td>
            ${data[15]}</td></tr><tr><td>
            特殊飲食習慣:</td><td>
            ${data[16]}</td></tr><tr><td>
            特殊疾病:</td><td>
            ${data[17]}</td></tr><tr><td>
            團報優惠碼:</td><td>
            ${data[19]}</td></tr><tr><td>
            繳費狀態:</td><td>
            ${data[21] == "1" ? "已繳費" : "尚未繳費"}
            </td></tr><tr><td>
            繳費時間:</td><td>
            ${data[24]}</td></tr>
              </tbody>
            </table>`;
                        sendEmailElement.innerText = "發送中...";
                        console.log({
                            mail: data[2],
                            student: data[1],
                            data: dataHTML,
                        });
                        // 新增這段程式碼來創建警告框
                        if (!confirm("你確定要發送至" +data[2] +"嗎？")) {
                            sendEmailElement.innerText = "發送取消";
                            sendEmailElement.disabled = false;
                            return;
                        }
                        fetch(
                            "https://aaascript.google.com/macros/s/AKfycbw_wzOe2mKrRWE54Id90tg6SQ0luU-JhRH0ji3qL99w4_OzigrVIWseMYzjUADFCwqs/exec?mail=" +
                                data[2] +
                                "&student=" +
                                data[1] +
                                "&data=" +
                                encodeURI(dataHTML),
                            {
                                redirect: "follow",
                                method: "GET",
                                // body: JSON.stringify({
                                //     mail: data[2],
                                //     student: data[1],
                                //     data: encodeURI(dataHTML),
                                // }),
                                headers: {
                                    "Content-Type": "text/plain;charset=utf-8",
                                },
                                mode: "no-cors",
                            }
                        )
                            .then(data => {
                                console.log(data);
                                sendEmailElement.disabled = false;
                                sendEmailElement.innerText = "發送成功";
                            })
                            .catch(error => {
                                console.error("Error:", error);
                                alert("Error:", error);
                                sendEmailElement.disabled = false;
                                sendEmailElement.innerText = "發送失敗";
                            });
                    });
            };
        </script>
    </body>
</html>
