<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../static/tailwind.config.js"></script>
    <script>
        function timestamp_to_date(timestamp) {
            // 创建一个新的Date对象，将时间戳作为参数传递
            var date = new Date(timestamp);

            // 使用Date对象的方法获取年、月、日等信息
            var year = date.getFullYear();
            var month = date.getMonth() + 1; // 月份是从0开始的，所以要加1
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();

            // 返回一个包含日期和时间信息的字符串
            var formattedDate = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;

            return formattedDate;
        }
    </script>
</head>

<body>
    <div class="max-w-[1020px] px-5 py-3 m-auto">
        <div class="text-3xl font-bold mb-5"># 管理頁面</div>
        {% for d in data %}
        <a href="">
            <div class="w-1/2 border-b px-2 py-1 text-xl grid grid-flow-col justify-stretch">
                <div class="mr-2">
                    {{d[1]}}
                </div>
                <div class="mr-2">
                    {{d[3]}}
                </div>
                <div class="mr-2">
                    {{ d[20]}}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <th class="border-b max-w-xs truncate">UserID</th>
            <th class="border-b">姓名</th>
            <th class="border-b">Email</th>
            <th class="border-b">學校</th>
            <th class="border-b">科別</th>
            <th class="border-b">社團</th>
            <th class="border-b">密碼</th>
            <th class="border-b">手機</th>
            <th class="border-b">性別</th>
            <th class="border-b">身分證字號</th>
            <th class="border-b">生日</th>
            <th class="border-b">緊急連絡人</th>
            <th class="border-b">緊急連絡人關係</th>
            <th class="border-b">緊急連絡人電話</th>
            <th class="border-b">衣服大小</th>
            <th class="border-b">飲食</th>
            <th class="border-b">特殊飲食習慣</th>
            <th class="border-b">住宿</th>
            <th class="border-b">優惠代碼</th>
            <th class="border-b">是否付錢</th>
            <th class="border-b max-w-xs truncate">家長同意書簽章</th>
            <th class="border-b max-w-xs truncate">最後修改日期</th>
            <th class="border-b max-w-xs truncate">場地簽章</th>
            <th class="border-b">確認</th>
        </thead>
        <tbody>
            {% for d in data %}
            <tr class="boder-b">
                {% for v in d %}
                <td>{{ v }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>

</html>