<!-- 
    login demo
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者頁面</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/tailwind.config.js"></script>
</head>
<body>
    <!-- app -->
    <form action="/admin/login" method="POST">
        <div class="app max-w-mobile-sm h-min m-auto flex flex-col px-5 py-3 justify-center gap-3">
            <div class="text-3xl font-bold text-center">管理者登入</div>
            <div><input type="text" name="account" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500" placeholder="帳號" required></div>
            <div><input type="password" name="password" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500" placeholder="密碼"></div>
            <div class="text-center"><input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="登入" required></div> 
        </div>
    </form>
</body>
</html>