<!-- 
    家長通知書
    學生姓名    電話       聯絡人               聯絡人電話  
    {{name}} {{phone}} {{emergencyContact}} {{emergencyPhone}} 
-->
{% extends 'agreement.html' %} 
{% block title %}家長通知書暨家長同意書{% endblock %} 
{% block agreement1 %}
<section id="text">
    <header>
        <h1>2024 年中部高中職電資社團聯合寒訓－「知資為資知」</h1>
        <h2>家長通知書暨家長同意書</h2>
    </header>
    <article>
        <p>
            親愛的家長您好: <br />
            寒假即將來臨,我們希望在寒假的期間內,透過此次的營隊,讓貴子弟在
            遊玩享樂的同時,也能增進自己的資訊相關知識,更能夠與各校志同道合的學
            員們交流。除了學習知識,也能夠探索自身對於資訊的熱忱與興趣,在未來的
            人生中開闢一條新的道路。願能利用此營隊來充實貴子弟的假期,也期盼貴子
            弟能夠一同加入電資的大家庭。
        </p>
        <p>
            活動名稱：知資為資知<br />
            活動日期:2024 年 1/24(三) ~ 1/26(五)三天兩夜<br />
            活動費用:一般價格:4300 元/人、團報價格:4000 元,費用包含營服、住
            宿、活動器材支出等<br />
            主辦單位:中部高中電資聯合會議、東海大學 資訊工程學系、東海大學 駭客
            社 Hackers in Tunghai<br />
            聯絡資訊：<br />總召：王朝立 電話：0958023589<br />
            副召：劉子賢 電話：0965231261<br />
        </p>

        <div>
            <p>
                敬祝 平安健康<br />
                中部高中電資社團聯合會議寒訓籌辦團隊 敬上
            </p>
        </div>
        本人同意 {{name}} 參加 2024 中部高中職電資社團聯
        合寒訓「知資為資知」，並已詳閱以上資訊，貴子弟於活動期間內遵守一切規
        定，若因未遵守規定而發生意外，概由本人自行負責。
    </article>
    <button onclick="sign()" id="agree">同意並簽名</button>
</section>
{% endblock %}
