<!-- @format -->

<!-- 首頁 -->

{% extends 'base.html' %} {% block title %}登入{% endblock %} {% block content
%}

<main>
    <h1>登入</h1>
    <h2>查詢繳費狀態及活動行前通知</h2>
    <form action="/login" method="POST">
        <div class="user-box">
            <input type="text" name="account" required="" />
            <label>Email/電話</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" required="" />
            <label>密碼</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            登入
        </a>
    </form>
</main>
{% endblock %}
