<!-- @format -->

{% extends 'agreement.html' %} 

{% block title %}家長通知書暨家長同意書{% endblock %} 
{% block type %}sendSign{% endblock %}
{% block content %}
<section id="text">
    <header>
        <h1>2024 年中部高中職電資社團聯合寒訓－「知資為資知」</h1>
        <h2>場地維護切結書</h2>
    </header>
    <article>
        <h3>介紹</h3>
        <p>使用東海大學內的各項設施需遵循以下各項規則，請詳閱。</p>
        <h3>規則</h3>
        <ol>
            <li>一、電腦教室內不可在裡面飲食，包含含糖飲料等。</li>
            <li>二、電腦教室內僅可攜帶白開水。</li>
            <li>
                三、應妥善使用東海大學內各項設施，不可有破壞行為，如有損壞，應照
                價賠償。
            </li>
            <li>四、以上各項如有違反，需要照價賠償主辦方費用，不得異議。</li>
        </ol>
        <h3>同意書</h3>
        本人{{emergencyContact}}(家長)與{{name}}(學員)已詳細閱讀上述各項規則，並在活動過
        程中遵守以上規則。若貴子弟有違反上述規定，概由本人自行負責相關費用。
        <ul>
            <li>學員手機：{{phone}}</li>
            <li>家長手機：{{emergencyPhone}}</li>
        </ul>
    </article>
    <button onclick="sign()" id="agree">同意並簽名</button>
</section>
{% endblock %}
