<!-- @format -->

{% extends 'base.html' %} {% block title %}活動報名 | 知資為資知 -
2024中部電資聯合寒訓{% endblock %} {% block content %}
<nav>
    <a href="/"> <img src="/static/logo.svg" alt="" /></a>
    <ul>
        <li>
            <a href="login">登入查詢</a>
        </li>
        <li><div class="current"><a href="sign">立即報名</a></li></div>
    </ul>
</nav>
<main>
    <h1>活動報名</h1>
    <h2>請完整填寫資訊</h2>
    <form action="/signUp" method="POST">
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>姓名</label>
        </div>
        <div class="user-box">
            <input type="email" name="password" required="" />
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>學校</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>住家地址</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>社團</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>密碼</label>
        </div>
        <div class="user-box">
            <input type="tel" name="data[]" required="" />
            <label>個人連絡電話</label>
        </div>
        <div class="radio-box">
            <label for="">生理性別</label>
            <input type="radio" value="男" name="data[male]" id="male" />
            <label for="male">男</label>
            <input type="radio" value="女" name="data[male]" id="female"/>
            <label for="female">女</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>身分證字號</label>
        </div>
        <div class="radio-box">
            <label>出生年月日</label>
            <input type="date" name="data[]" required="" />
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>緊急連絡人</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>緊急連絡人關係</label>
        </div>
        <div class="user-box">
            <input type="tel" name="data[]" required="" />
            <label>緊急連絡人電話</label>
        </div>
      
        <div class="radio-box">
            <label for="">衣服尺寸</label>
            <select name="data[]" required="">
                <option default hidden>選擇衣服尺寸</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
        </div>
        <div class="radio-box">
            <img src="/static/shirt.webp" class=shirt alt="">
        </div>
        <div class="radio-box">
            <label for="">飲食</label>
            <input type="radio" value="葷" name="data[food]" id="meat" />
            <label for="meat">葷</label>
            <input type="radio" value="素" name="data[food]" id="veg" />
            <label for="veg">素</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]"  />
            <label>特殊飲食習慣 (如: 不吃香菜)</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" required="" />
            <label>是否有特殊疾病</label>
        </div>
        <div class="radio-box">
            <label for="">是否參與住宿</label>
            <input type="radio" value="是" name="data[live]" checked />
            <label for="live">是，強制</label>
        </div>
        <div class="user-box">
            <input type="text" name="data[]" />
            <label>團體優惠碼</label>
        </div>
        
        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="submit" value="送出">
        </a>
    </form>
</main>

<script>
    document.getElementById("checkCoupon").addEventListener("click", () => {
        fetch("/getCoupon", {
            method: "POST",
            headers: {
                "Content-Type": "text/plain",
            },
            body: document.getElementById("coupon").value,
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.text();
            })
            .then(responseText => {
                if (responseText == "True") {
                    document.getElementById("checkCoupon").innerHTML =
                        "✔️團報碼驗證可用";
                } else {
                    document.getElementById("checkCoupon").innerHTML =
                        "❌團報碼驗證不可用";
                }
                console.log("Response text:", responseText);
            })
            .catch(error => {
                alert("Error:", error);
            });
    });
</script>
{% endblock %}
