<!-- @format -->

{% extends 'base.html' %} {% block title %}活動報名 | 知資為資知 -
2024中部電資聯合寒訓{% endblock %} {% block content %}
<style>
    :root {
        --main-color: #69c5d6;
    }
    main {
        color: #fff;
        padding-top: 5rem;
    }
    a {
        color: var(--main-color);
        text-decoration: none;
    }
    p {
        margin-block: 1rem;
    }
    main a:hover {
        color: var(--main-color);
        background: transparent;
        text-decoration: underline;
        box-shadow: none;
    }
    ul,
    ol {
        line-height: 1.5;
        margin-left: 2rem;
    }
    main {
        max-width: 800px;
    }
    main h2 {
        text-align: left;
        font-size: 1.5rem;
        margin-block: 1.5rem 0.8rem;
    }
    .remind {
        border: solid 2px #ffc107;
        padding: 16px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.5rem;
        margin-block: 1rem 0.8rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        line-height: 1.5;
    }
    .group > div {
        border: solid 2px #07deff;
        padding: 16px;
        margin-bottom: 20px;
        width: 200px;
        min-height: 200px;
    }
    .group > .boy {
        border: solid 2px #0745ff;
    }

    .group > .girl {
        border: solid 2px #ff07b8;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 2rem;
    }
    table td {
        border: solid 1px #fff;
        padding: 0.5rem;
    }
    table thead td,
    table tbody td[colspan="2"] {
        background: #fff;
        color: #000;
        font-weight: bold;
    }
    table tbody td {
        background: #000;
        color: #fff;
    }
    table tbody td:nth-child(2) {
        text-align: left;
    }
    table tbody td:nth-child(1) {
        text-align: center;
    }
    .current-event,
    .current-event + td {
        background: #07deff;
        color: #000;
        font-weight: bold;
    }
    .current-title {
        text-align: center;
    }
    h1+p{
        text-align: center;
        margin-bottom: 0;
    }
    h1+p+h2{
        text-align: center;
        margin-top: .3rem;
        color: #07deff;
    }
</style>
<nav>
    <a href="/"> <img src="/static/logo.svg" alt="" /></a>
    <ul>
        <li>
            <div class="current">
                <a href="sign">行前通知</a>
            </div>
        </li>
        <li>
            <a href="../logout">登出</a>
        </li>
    </ul>
</nav>
<main>
    <h1>活動流程</h1>
    <p>目前活動</p>
    <h2 class="current-title"></h2>
    <section>
        <table>
            <thead>
                <tr>
                    <td>時間</td>
                    <td>活動</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">2024/1/24</td>
                </tr>
                <tr>
                    <td class="time240930">9:00~9:30</td>
                    <td>報到</td>
                </tr>
                <tr>
                    <td class="time241000">9:30~10:00</td>
                    <td>開幕</td>
                </tr>
                <tr>
                    <td class="time241050">10:00~10:50</td>
                    <td>破冰</td>
                </tr>
                <tr>
                    <td class="time241100">10:50~11:00</td>
                    <td>休息</td>
                </tr>
                <tr>
                    <td class="time241200">11:00~12:00</td>
                    <td>
                        課程 (A:宥鈞:釣魚網站製作、B:逸凡：Linux command &
                        kali製作釣魚網站)
                    </td>
                </tr>
                <tr>
                    <td class="time241300">12:00~13:00</td>
                    <td>午餐和休息</td>
                </tr>
                <tr>
                    <td class="time241400">13:00~14:00</td>
                    <td>
                        課程 (A:宥鈞:釣魚網站製作、B:逸凡：Linux command &
                        kali製作釣魚網站)
                    </td>
                </tr>
                <tr>
                    <td class="time241410">14:00~14:10</td>
                    <td>休息</td>
                </tr>
                <tr>
                    <td class="time241510">14:10~15:10</td>
                    <td>
                        課程(A:朝立:資安意識宣導 & 網路安全、B:Yuan：網路維運)
                    </td>
                </tr>
                <tr>
                    <td class="time241520">15:10~15:20</td>
                    <td>休息</td>
                </tr>
                <tr>
                    <td class="time241520">15:20~17:20</td>
                    <td>
                        課程(A:逸凡：Linux command &
                        kali製作釣魚網站、B:宥鈞:釣魚網站製作)
                    </td>
                </tr>
                <tr>
                    <td class="time241820">17:20~18:20</td>
                    <td>晚餐和休息</td>
                </tr>
                <tr>
                    <td class="time241950">18:20~19:50</td>
                    <td>桌遊時間</td>
                </tr>
                <tr>
                    <td class="time242010">19:50~20:10</td>
                    <td>上車回飯店</td>
                </tr>
                <tr>
                    <td class="time250730">20:10~</td>
                    <td>發房卡、進房</td>
                </tr>
                <tr>
                    <td colspan="2">2024/1/25</td>
                </tr>
                <tr>
                    <td class="time250830">7:30~8:30</td>
                    <td>早餐</td>
                </tr>
                <tr>
                    <td class="time250900">8:30~9:00</td>
                    <td>集合 (未住宿9:15校門口左邊集合)</td>
                </tr>
                <tr>
                    <td class="time250915">9:00~9:15</td>
                    <td>門口上車</td>
                </tr>
                <tr>
                    <td class="time251030">9:15~10:30</td>
                    <td>練舞時間</td>
                </tr>
                <tr>
                    <td class="time251230">10:30~12:30</td>
                    <td>
                        課程(A:逸凡：web security &
                        kali製作釣魚網站、B:宥鈞:釣魚網站製作)
                    </td>
                </tr>
                <tr>
                    <td class="time251300">12:30~13:30</td>
                    <td>午餐+休息</td>
                </tr>
                <tr>
                    <td class="time251430">13:30~14:30</td>
                    <td>小遊戲</td>
                </tr>
                <tr>
                    <td class="time251500">14:30~15:00</td>
                    <td>休息</td>
                </tr>
                <tr>
                    <td class="time251700">15:00~17:00</td>
                    <td>
                        課程(A:宥鈞:釣魚網站製作、B:逸凡：web security &
                        kali製作釣魚網站)
                    </td>
                </tr>
                <tr>
                    <td class="time251730">17:00~17:30</td>
                    <td>小遊戲競賽</td>
                </tr>
                <tr>
                    <td class="time251800">17:30~18:00</td>
                    <td>戶外活動(練舞)</td>
                </tr>
                <tr>
                    <td class="time251900">18:00~21:00</td>
                    <td>晚會</td>
                </tr>
                <tr>
                    <td class="time251920">21:00~21:20</td>
                    <td>上車回飯店</td>
                </tr>
                <tr>
                    <td class="time260710">21:20~</td>
                    <td>發房卡、進房</td>
                </tr>
                <tr>
                    <td colspan="2">2024/1/26</td>
                </tr>
                <tr>
                    <td class="time260810">7:10~8:10</td>
                    <td>早餐</td>
                </tr>
                <tr>
                    <td class="time260845">8:10~8:45</td>
                    <td>集合 (未住宿9:00校門口左邊集合)</td>
                </tr>
                <tr>
                    <td class="time260900">8:45~9:00</td>
                    <td>門口上車</td>
                </tr>
                <tr>
                    <td class="time261000">9:00~10:00</td>
                    <td>
                        課程(A:Yuan：網路維運、B:朝立:資安意識宣導 & 網路安全)
                    </td>
                </tr>
                <tr>
                    <td class="time261200">10:00~12:00</td>
                    <td>CTF time</td>
                </tr>
                <tr>
                    <td class="time261300">12:00~13:00</td>
                    <td>搭車</td>
                </tr>
                <tr>
                    <td class="time261630">13:00~16:30</td>
                    <td>烤肉</td>
                </tr>
                <tr>
                    <td class="time261700">16:30~17:00</td>
                    <td>收拾</td>
                </tr>
                <tr>
                    <td class="time261720">17:00~17:20</td>
                    <td>閉幕</td>
                </tr>
                <tr>
                    <td>17:20~</td>
                    <td>搭車賦歸</td>
                </tr>
            </tbody>
        </table>
    </section>
    <h1>行前通知</h1>
    <div class="remind">
        📢請<strong>務必</strong>加入<a href="https://discord.gg/tHp3zFRw"
            >活動 Discord 群組</a
        >，並修改個人顯示名稱為「第X組成員 -
        XXX」。活動期間相關資訊將會即時公布於上面。
    </div>
    <h2>壹、活動基本資訊</h2>
    <ul>
        <li>活動時間:2024/1/24(三) ~ 2024/01/26(五)</li>
        <li>
            活動地點:
            <a href="https://maps.app.goo.gl/us1ZHKJsnuXWFpcz6"
                >東海大學 (台中市西屯區臺灣大道四段1727號)</a
            >
        </li>
        <li>第一天集合地點:東海大學 (台中市西屯區臺灣大道四段1727號)</li>
        <li>請於 9:00~9:30 至 東海大學科技大樓ST020 簽到</li>
        <li>第三天解散地點:台中火車站 (臺中市中區建國路172號)</li>
    </ul>
    <h2>貳、活動分組名單</h2>
    <p>均為電腦隨機分組。具體分組名單請以活動當天為主。</p>
    <!-- .group>(div>h3{第組}+h4{隊輔}+p+h4{隊員}+p)*6 -->
    <h3>分組名單</h3>
    <div class="group">
        <div>
            <h3>第一組</h3>
            <h4>隊輔</h4>
            <p>陳宥家、李晏丞</p>
            <h4>隊員</h4>
            <p>
                李佩珊、羅彥貽、郭宜盈、曾妍毓、郭彧睿、吳秉諺、林家佑、
                黃慶宸、陳鈞廷、洪鉦祐
            </p>
        </div>
        <div>
            <h3>第二組</h3>
            <h4>隊輔</h4>
            <p>陳奕其、曾冠霖</p>
            <h4>隊員</h4>
            <p>
                楊風璠、楊蕙甄、邱子洛、張亦祥、林佾洲、曾柏勛、陳柏宇、
                吳皓庭、邱昱勛、王睿育
            </p>
        </div>
        <div>
            <h3>第三組</h3>
            <h4>隊輔</h4>
            <p>涂紫婷、魏均翰</p>
            <h4>隊員</h4>
            <p>
                林均樺、黃宣瑄、徐駿恩、蔡政輝、顏子嵂、孫子閎、楊政遠、
                邱紹紘、陳胤沅、陳奕呈
            </p>
        </div>
        <div>
            <h3>第四組</h3>
            <h4>隊輔</h4>
            <p>王薇瑄、田欣然</p>
            <h4>隊員</h4>
            <p>
                李湘怡、王加昀、蔡韋霖、陳奕安、陳茗程、林俊廷、林禾豐、
                趙偉恆、王邑玄、陳定承
            </p>
        </div>
        <div>
            <h3>第五組</h3>
            <h4>隊輔</h4>
            <p>黃宥睿、黃粲閎</p>
            <h4>隊員</h4>
            <p>
                謝依玲、陳郁婷、蔡承伯、蔡旻辰、張元楷、吳靖宇、魏均叡、
                吳承軒、王資瀚
            </p>
        </div>
        <div>
            <h3>第六組</h3>
            <h4>隊輔</h4>
            <p>孫樺辰、余承緯</p>
            <h4>隊員</h4>
            <p>
                廖珮婷、王昕蓉、陳映彤、邱德原、倪冠騏、廖冠捷、廖顯毅、 周佑叡
            </p>
        </div>
    </div>
    <h3>分房名單</h3>
    <div class="group">
        <div class="boy">
            <h3>房號1</h3>
            <p>林家佑、 郭彧睿、 吳秉諺、 黃慶宸</p>
        </div>
        <div class="boy">
            <h3>房號2</h3>
            <p>張亦祥、 曾柏勛、 陳柏宇、 吳皓庭</p>
        </div>
        <div class="boy">
            <h3>房號3</h3>
            <p>徐駿恩、 蔡政輝、 顏子嵂、 孫子閎</p>
        </div>
        <div class="boy">
            <h3>房號4</h3>
            <p>蔡韋霖、 陳奕安、 林俊廷、 林禾豐</p>
        </div>
        <div class="boy">
            <h3>房號5</h3>
            <p>吳承軒、 蔡承伯、 蔡旻辰、 張元楷</p>
        </div>
        <div class="boy">
            <h3>房號6</h3>
            <p>邱德原、 倪冠騏、 廖顯毅、 周佑叡</p>
        </div>
        <div class="boy">
            <h3>房號7</h3>
            <p>陳奕呈、 楊政遠、 邱紹紘、 陳胤沅</p>
        </div>
        <div class="boy">
            <h3>房號8</h3>
            <p>王邑玄、 陳茗程、 趙偉恆、 陳定承</p>
        </div>
        <div class="boy">
            <h3>房號9</h3>
            <p>林佾洲、 邱子洺、 邱昱勛、 王睿育</p>
        </div>
        <div class="girl">
            <h3>房號1</h3>
            <p>李佩珊、 羅彥貽、 郭宜盈、 曾妍毓</p>
        </div>
        <div class="girl">
            <h3>房號2</h3>
            <p>楊蕙甄、 楊豐璠、 黃宣瑄、 林均樺</p>
        </div>
        <div class="girl">
            <h3>房號3</h3>
            <p>陳映彤、 王加昀、 謝依玲、 陳郁婷</p>
        </div>
    </div>
    <h2>參、工人聯絡方式</h2>

    <p>工人緊急聯絡方式如下，若有任何問題都可以直接在 Discord 群組提出。</p>
    <ul>
        <li>總召 - <a href="tel:+886958023589">王朝立 0958023589</a></li>
        <li>副召 - <a href="tel:+886965231261">劉子賢 0965231261</a></li>
        <li>資訊長 - <a href="tel:+886928358323">毛宥鈞 0928358323</a></li>
        <li>公關長 - <a href="tel:+886916694788">黃粲閎 0916694788</a></li>
        <li>活動長 - <a href="tel:+886979151218">楊哲翔 0979151218</a></li>
        <li>總務長 - <a href="tel:+886968679582">涂紫婷 0968679582</a></li>
        <li>總務長 - <a href="tel:+886906700176">孫驊辰 0906700176</a></li>
    </ul>
    <h2>肆、活動注意事項</h2>
    <ul>
        <li>
            所有參加人員均須經由家長同意，並同時擁有緊急連絡人電話，並附有個人資料以利辦理保險。
        </li>
        <li>
            當天需攜帶個人物品：健保卡、口罩、水、個人藥品、雨具、換洗衣物等。
        </li>
        <li>
            活動期間生之垃圾，一律由參加者以及工作人員於活動期間隨時保持場地乾淨。
        </li>
        <li>
            活動期間遵守各安全規定,並嚴禁有損校譽之行為,如有違反將以各校校規懲處。
        </li>
        <li>本活動實施計畫如有未盡事宜，得隨時修正之。</li>
        <li>
            在東海大學內使用各項設施應需遵守相關規定，且不可有破壞設施的行為，若設施有損壞，需照價賠償。
        </li>
        <li>在東海大學之電腦教室嚴禁飲食 (含飲料)</li>
    </ul>
    <h2>伍、交通資訊參考</h2>
    <ol>
        <li>
            <strong>搭乘火車：</strong>
            在台中火車站下車，步行至台灣大道，搭乘台中客運
            303、304、307。上車站：臺中車站(臺灣大道)；下車站：榮總/東海大學(專用道)。
        </li>
        <li>
            <strong>搭乘高鐵：</strong>在台中高鐵站下車，搭乘和欣客運
            161。上車站：高鐵臺中站(第11月台)；下車站：臺中榮總(臺灣大道)。
        </li>
    </ol>
</main>
<script>
    const currentTitle = document.querySelector(".current-title");
    const check = () => {
        var currentDate = new Date();
        var startDate = new Date("2024/01/24");
        var endDate = new Date("2024/01/26 17:20");
        const currentMinutes = currentDate.getMinutes();
        if (currentDate >= startDate && currentDate < endDate) {
            var formattedMinutes = Math.floor(currentMinutes / 10) * 10;
            var formattedDate = new Date(
                currentDate.getFullYear(),
                currentDate.getMonth(),
                currentDate.getDate(),
                currentDate.getHours(),
                formattedMinutes
            );
            formattedDate.setMinutes(formattedDate.getMinutes() + 10); // Move forward by 10 minutes
            for (let i = 0; i < 432; i++) {
                formattedDate.setMinutes(formattedDate.getMinutes() + 10);
                var target = `.time${String(formattedDate.getDate()).padStart(
                    2,
                    "0"
                )}${String(formattedDate.getHours()).padStart(2, "0")}${String(
                    formattedDate.getMinutes()
                ).padStart(2, "0")}`;

                if (document.querySelector(target)) {
                    document
                        .querySelector(target)
                        .classList.add("current-event");
                        currentTitle.innerHTML = document.querySelector(target).nextElementSibling.innerHTML;
                        break;
                }
            }
        } else {
            currentTitle.innerHTML = "活動已經結束，感謝大家的參與！";
        }
    };
    setInterval(check, 60000); // 60000 milliseconds = 1 minute
    check();
</script>
{% endblock %}
