<!-- 
    login demo
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入/報名</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/tailwind.config.js"></script>
</head>

<body>
    <!-- app -->

    <div class="app max-w-mobile-sm h-min m-auto flex flex-col px-5 py-3 justify-center gap-3">
        <div class="text-3xl font-bold text-center">你已成功報名</div>
        <div class="text-center text-sm">期待在活動看到你</div>
        <a class="text-center" href="/"><span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">回到首頁</span></a>
        <div class="text-center text-sm underline underline-offset-4"><a href="/edit">修改報名資訊</a></div>
    </div>
</body>

</html>